button {
    margin-top: 10px;
    border: none;
    background-color: #4b0082;
    color: #ffd700;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
button:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    scale: 1.02;
}
.marginT-10{
    margin-top: 5px;
}
.btn_presentation{
    margin-top: 10px;
    border: none;
    background-color: #4b0082;
    color: #ffd700;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: 600;
}


header {
    background-color: #000000;
    color: #ffd700;
    padding: 45px 70px;
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(2, 1fr);
    font-family: "Open Sans", sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 90;
}

header h1 {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

.sy {
    text-decoration: none; 
    color: #ffd700; 
    cursor: pointer; 
}

.sy:hover {
    color: #4b0082; 
}



header h1 span {
    color: #4b0082;
}

header .icon_menu_respond{
    display: none;
}


nav {
    display: flex;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 0px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

nav ul li {
    list-style: none;
    align-items: center;
    display: flex;
    width: fit-content;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.active{
    color: #4b0082;
    font-weight: bold;
    cursor: pointer;
}

nav ul li a {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: left;
    display: flex;
    text-decoration: none;
    color: #ffd700;
    transition: 0.6s;
}
nav ul li a:hover{
    color: lightblue;
    transition: 0.6s;
}
nav ul li .active:hover{
    color: #4b0082;
    transition: 0s;
}

@media (max-width: 1114px) {
    header {
        background-color: #0a192f;
        color: #ffd700;
        padding: 0px;
        display: grid;
        grid-gap: 0px;
        grid-template-columns: repeat(1, 1fr);
        font-family: "Open Sans", sans-serif;
    }

    header h1 {
        font-family: "Open Sans", sans-serif;
        text-transform: uppercase;
        font-weight: 900;
        padding: 20px;
        font-size: 26px;
    }

    header h1 span {
        color: #4b0082;
    }
    header .icon_menu_respond{
        background-color: #4b0082;
        width: fit-content;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 20px;
        display: block;
    }
    header .icon_menu_respond img{
        background-color: #ffd700;
        width: 53px;
        height: 53px;
        position: absolute;
        top: 0;
        right:0;
        margin-top: 13px;
        cursor: pointer;
        padding: 5px;
        border-radius: 100%;
    }

    nav {
        background-color: rgb(0, 255, 89);
        display: none;
        position: relative;
    }

    nav ul {
        width: 100%;
        display: block;
        justify-content: space-around;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
    }

    nav ul li {
        list-style: none;
        align-items: center;
        display: flex;
        width: 100%;
    }
  #elementA, #elementB, #elementC, #elementD,  #elementE{
        display: none;
        opacity: 0;
    }

    nav ul li a {
        background-color: rgb(48, 47, 47);
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        text-decoration: none;
        color: #ffd700;
        padding: 17px 0px;
    }
    nav ul li a:hover{
        color: #ffd700;
        transition: 0.6s;
        background-color: lightblue;
    }
    nav ul li .active:hover{
        color: #ffd700;
        transition: 0s;
        background-color: #4b0082;
    }
 
    .active{
        background-color: #4b0082;
        color: #ffd700;
        font-weight: bold;
        cursor: pointer;
    }

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 14vh;
}

body {
    overflow-x: hidden;
    width: 100%;
}

.presentation {
    width: 100%;
    height: fit-content;
    padding: 0px 70px;
    height: 78.6vh;
    margin-top: 130px;
}

.presentation_flex {
    display: flex;
    align-items: center;
    height: 100%;
}

.presentation .present_grid {
    display: grid;
    grid-template-columns: 65% 35%;
    width: 100%;
}

.present_grid_text {
    display: grid;
    justify-content: left;
    align-items: center;
}

.present_grid_text_flex {
    text-align: center;
}

.present_grid_text_flex h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 42px;
    font-weight: 400;
}

.present_grid_text_flex h2 span {
    color: #4b0082;
}

.present_grid_text_flex button {
    margin-top: 20px;
}

.present_grid_img {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.present_grid_img img {
    width: 310px;
    margin-top: 80px;
    margin-left: 70px;
}

/*A propos*/
#aPropos {
    background-color: #eee;
    padding: 70px;
    border-left: 1px solid #0a192f;
    border-right: 1px solid #0a192f;
    border-bottom: 1px solid #0a192f;
}

#aPropos h2 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #4b0082;
}

.aPropos_grid {
    width: 100%;
    display: grid;
    height: fit-content;
    grid-template-columns: 60% 40%;
    margin-top: 50px;
}

.aPropos_grid_text {
    display: flex;
    align-items: center;

}

.aPropos_grid_text span {
    color: #4b0082;
}

.aPropos_grid_text p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
}

.aPropos_grid_img img {
    width: 350px;
    border-radius: 100%;
    border: 5px solid #4b0082;
    margin-left: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}




/*projets*/
#projets {
    padding: 70px;
}

#projets h2 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #4b0082;
}

.projets_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin-top: 50px;
    font-family: "Open Sans", sans-serif;
}

.projets_grid div {
    text-align: center;
    background-color: #eee;
    border-radius: 5px;
    padding: 26px 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.projets_grid div p {
    line-height: 22px;
    margin-top: 20px;
}

#projets div .martop {
    margin-top: 30px;
}

#projets div button {
    padding: 5px 30px;
}



/*competences*/
#competences {
    background-color: #eee;
    padding: 70px 120px;
}

#competences h2 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
}

.competences_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    margin-top: 50px;
    font-family: "Open Sans", sans-serif;

}

.competences_grid .competences_container {
    background-color: #ffd700;
    border-radius: 5px;
    padding: 35px 26px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#competences h3 {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#competences .bar_skills {
    width: 90%;
    margin-top: 20px;
}

#competences .bar_skills p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

#competences .bar_container {
    background-color: #eee;
    width: 100%;
    height: 8px;
    border-radius: 5px;
}

#competences .bar_container .bar_shower {
    background-color: #4b0082;
    height: 8px;
    border-radius: 5px;
}

#competences .bar_container .bar1 {
    width: 75%;
}

#competences .bar_container .bar2 {
    width: 65%;
}

#competences .bar_container .bar3 {
    width: 85%;
}

#competences .bar_container .bar4 {
    width: 95%;
}

#competences .bar_container .bar5 {
    width: 66%;
}

#competences .bar_container .bar6 {
    width: 80%;
}

#competences .bar_container .bar7 {
    width: 98.2%;
}



/*contact*/
#contact {
    background-color: #0a192f;
    padding: 30px 330px;
    width: 100%;
}

#contact h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: #ffd700;
    text-align: center;
}

#contact h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: #ffd700;
    text-align: center;
    margin-top: -5px;
}

#contact h2 span,
#contact h3 span {
    color: #4b0082;
}

.contact_input_div {
    font-family: 'Open Sans', sans-serif;
}

.contact_input_div .contact_input_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 20px;
}

.contact_input_div .contact_input_grid div input,
.contact_input_div .contact_input_block div input {
    border: 1px solid #4b0082;
    outline: none;
    border-radius: 5px;
    width: 100%;
    padding: 6px 8px;
}

.contact_input_div .contact_input_grid div label {
    display: block;
}

.contact_input_block div {
    margin-top: 8px;
}


.contact_input_div label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #ffd700;
    margin-bottom: 5px;
}



.contact_input_div textarea {
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.contact_input_div input::placeholder,
.contact_input_div textarea::placeholder {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: grey;
}

.contact_input_div textarea {
    width: 100%;
    height: 260px;
    padding: 6px 8px;
    border: 1px solid #4b0082;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
}

.button_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_div button {
    border: 1px solid #ffd700;
}

@media (max-width: 1114px) {
    :target {
        scroll-margin-top: 8vh;
    }

    .presentation {
        width: 100%;
        height: fit-content;
        padding: 50px 30px;
        height: fit-content;
        margin-top: 80px;
    }

    .presentation .present_grid {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .present_grid_text {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .present_grid_text_flex {
        width: 100%;
    }

    .present_grid_text_flex h2 {
        font-family: "Open Sans", sans-serif;
        font-size: 30px;
        margin-top: 50px;
        font-weight: 400;
    }

    .present_grid_img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .present_grid_img img {
        width: 310px;
        margin-top: 50px;
        margin-left: 0px;
    }


    /*A propos*/
    #aPropos {
        background-color: #eee;
        padding: 50px 30px;
        border-left: 1px solid #0a192f;
        border-right: 1px solid #0a192f;
        border-bottom: 1px solid #0a192f;
    }

    .aPropos_grid {
        width: 100%;
        display: grid;
        height: fit-content;
        grid-template-columns: 100%;
        margin-top: 30px;
    }

    .aPropos_grid_text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .aPropos_grid_text p {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }

    .aPropos_grid_img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .aPropos_grid_img img {
        width: 260px;
        border-radius: 100%;
        border: 5px solid #4b0082;
        margin-top: 0px;
        margin-left: 0px;
    }

    .button_div_propos {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }




    /*projets*/
    #projets {
        padding: 50px 30px;
    }

    #projets h2 {
        text-align: center;
        font-family: "Open Sans", sans-serif;
        color: #4b0082;
    }

    .projets_grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        margin-top: 30px;
        font-family: "Open Sans", sans-serif;
    }



    /*competences*/
    #competences {
        background-color: #eee;
        padding: 50px 30px;
    }

    .competences_grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        margin-top: 30px;
        font-family: "Open Sans", sans-serif;

    }



    /*contact*/
    #contact {
        background-color: #0a192f;
        padding: 30px 50px;
        width: 100%;
    }

    #contact h2 {
        font-size: 30px;
    }

    #contact h3 {
        font-size: 26px;
        margin-top: 0px;
    }

    .contact_input_div .contact_input_grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 8px;
        margin-top: 20px;
    }

    .contact_input_div input::placeholder,
    .contact_input_div textarea::placeholder {
        font-size: 14px;
    }

}


footer{
    background-color:#eee;
    padding:20px 50px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}
.footer_grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.footer_grid div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 30px;
}
footer .footer_grid div p span{
    color: #4b0082;
}
@media (max-width: 768px) {
    footer{
        background-color:#eee;
        padding:10px 0px;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
    }
    .footer_grid{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr;
    }
    .footer_grid div:nth-child(1), 
    .footer_grid div:nth-child(2){
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0px;
    }
}

